/* This is gonna be the most chaotic website ever*/
.title {
  color: rgb(255,100,100); 
}

#videopara {
  color: rgba(100,100,100,0.3); 
}

* {
  text-align: right 
}

p {
  background-color: red; 
}

p[pretty] {
  background-color: #777777; 
}

p::hover {
  background-color: #3d3; 
}

div, section {
  background-color: hsl(359,20%,50%); 
}

div p {
  text-align: center; 
}

div > h1 {
 text-align:left; 
}

h1 ~ p {
  background:#FFFFFF; 
}

h1 + p {
  background:#FFFFFF; 
}

p.ugly {
  background-color:hsla(200,50%,25%,0.4); 
}

div {
  width:300px;
  height: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding-top:5px;
  padding-bottom:1%;
  padding-left:5px;
  padding-right:5x;
}

section {
  margin: 50px 500mm 5cm 5vw;
  padding: 25px 25px 10vh 25px;
}

p {
  margin: auto auto auto auto;
}

p.static {
  position: static; 
}

div.absolute {
  position: absolute;
  top: 100px;
}

div.relative {
  position: static;
  width:100px;
  height:100px;
}

p.messy{
  max-width:75%;
  min-width:50%
}

p.funky{
  border-style: groove inset outset dashed;
  border-color:red;
  border-width:200px;
  border-radius:25px;
}

body {
  color:blue; 
  text-decoration:underline;
  font-family: 'Roboto', sans-serif;
}
