.title {
  color: brown 
}

#videopara {
  color: purple 
}

* {
  text-align: right 
}

p {
  background-color: red 
}

p[pretty] {
  background-color: pink 
}

p::hover {
  background-color: yellow 
}

div, section {
  background-color: orange 
}

div p {
  text-align: center 
}

div > h1 {
 text-align:left 
}

h1 ~ p {
  background:#FFFFFF; 
}

h1 + p {
  background:#FFFFFF; 
}

p.ugly {
  background-color:red 
}
